/* index.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}
/* GENERAL THEME */
.general-theme {
  --bg-color: #3d0a0a;
  --text-color: #fafafa;
  --accent-color: #000000;
} */

/* MALE THEME */
.male-theme {
  --bg-color: #1671d8;
  --text-color: #ddd8d8;
  --accent-color: #0287fc;
}

/* FEMALE THEME */
 .female-theme {
  --bg-color: #e0043f;
  --text-color: #ffffff;
  --accent-color: #ee0077;
}

/* Apply variables globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button, a {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin: 0.5rem;
  cursor: pointer;
}
